<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <variable name="brief" value="${date} | ${level} | ${message}"/>
  <targets>
    <target name="MainLogFile" xsi:type="File" createDirs="true"  fileName="${basedir}/logs/log_${gdc:StartTime}.txt" layout="${time} | ${level} | ${message} | ${exception}" />
    <target name="ErrorsLogFile" xsi:type="File" createDirs="true"   fileName="${basedir}/logs/notmapped.csv" layout="${time};${message}"  />
    <target name="CommonErrorsLogFile" xsi:type="File" createDirs="true" fileName="${basedir}/logs/${gdc:Action}_${gdc:TableAlias}/${gdc:NotMapped}${gdc:FieldName}/All_${gdc:NotMapped}${gdc:FieldName}.csv" layout="${time};${message}"  />
    <target name="HeaderLogFile" xsi:type="File" createDirs="true"   fileName="${basedir}/logs/${gdc:Action}_${gdc:TableAlias}/${gdc:NotMapped}${gdc:FieldName}/${gdc:NotMapped}${gdc:FieldName}.csv" layout="${time};${message}" />
    <target name="CommonHeaderLogFile" xsi:type="File" createDirs="true"   fileName="${basedir}/logs/${gdc:Action}_${gdc:TableAlias}/${gdc:NotMapped}${gdc:FieldName}/All_${gdc:NotMapped}${gdc:FieldName}.csv" layout="${time};${message}" />
    <target name="console" xsi:type="ColoredConsole" layout="${message}  ${exception}">
      <highlight-row foregroundColor="DarkBlue" condition="equals('${gdc:color}','DarkBlue')"/>
      <highlight-row foregroundColor="DarkGreen" condition="equals('${gdc:color}','DarkGreen')"/>
      <highlight-row foregroundColor="DarkCyan" condition="equals('${gdc:color}','DarkCyan')"/>
      <highlight-row foregroundColor="DarkRed" condition="equals('${gdc:color}','DarkRed')"/>
      <highlight-row foregroundColor="DarkMagenta" condition="equals('${gdc:color}','DarkMagenta')"/>
      <highlight-row foregroundColor="DarkYellow" condition="equals('${gdc:color}','DarkYellow')"/>
      <highlight-row foregroundColor="Gray" condition="equals('${gdc:color}','Gray')"/>
      <highlight-row foregroundColor="DarkGray" condition="equals('${gdc:color}','DarkGray')"/>
      <highlight-row foregroundColor="Blue" condition="equals('${gdc:color}','Blue')"/>
      <highlight-row foregroundColor="Green" condition="equals('${gdc:color}','Green')"/>
      <highlight-row foregroundColor="Cyan" condition="equals('${gdc:color}','Cyan')"/>
      <highlight-row foregroundColor="Red" condition="equals('${gdc:color}','Red')"/>
      <highlight-row foregroundColor="Magenta" condition="equals('${gdc:color}','Magenta')"/>
      <highlight-row foregroundColor="Yellow" condition="equals('${gdc:color}','Yellow')"/>
      <highlight-row foregroundColor="White" condition="equals('${gdc:color}','White')"/>
   
    </target>
  </targets>

  <rules>
    <logger name="InfoLogger" minlevel="Debug"  writeTo="MainLogFile,console" />
    <logger name="ErrorsLogger" minlevel="Debug" writeTo="ErrorsLogFile,console" />
    <logger name="CommonErrorsLogger" minlevel="Debug" writeTo="CommonErrorsLogFile" />
    <logger name="HeaderLogger" minlevel="Debug" writeTo="HeaderLogFile" />
    <logger name="CommonHeaderLogger" minlevel="Debug" writeTo="CommonHeaderLogFile" />
  </rules>
</nlog>
